/* Source Sans Pro Black */
@font-face {
  font-family: "Source Sans Pro";
  src: url('assets/fonts/SourceSansPro/SOURCESANSPRO-BLACK.TTF') format('truetype');
  font-weight: 900;
  font-style: normal;
}
 
@font-face {
  font-family: "Source Sans Pro";
  src: url('assets/fonts/SourceSansPro/SOURCESANSPRO-BLACKITALIC.TTF') format('truetype');
  font-weight: 900;
  font-style: italic;
}
  

/* Source Sans Pro Bold */
@font-face {
  font-family: "Source Sans Pro";
  src: url('assets/fonts/SourceSansPro/SOURCESANSPRO-BOLD.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}
 
@font-face {
  font-family: "Source Sans Pro";
  src: url('assets/fonts/SourceSansPro/SOURCESANSPRO-BOLDITALIC.TTF') format('truetype');
  font-weight: 700;
  font-style: italic;
}

 /* Source Sans Pro Semibold */
@font-face {
  font-family: "Source Sans Pro";
  src: url('assets/fonts/SourceSansPro/SOURCESANSPRO-SEMIBOLD.TTF') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url('assets/fonts/SourceSansPro/SOURCESANSPRO-SEMIBOLDITALIC.TTF') format('truetype');
  font-weight: 600;
  font-style: italic;
}
  

 /* Source Sans Pro Regular */
 @font-face {
  font-family: "Source Sans Pro";
  src: url('assets/fonts/SourceSansPro/SOURCESANSPRO-REGULAR.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url('assets/fonts/SourceSansPro/SOURCESANSPRO-ITALIC.TTF') format('truetype');
  font-weight: 400;
  font-style: italic;
}
  
 /* Source Sans Pro Light */
 @font-face {
  font-family: "Source Sans Pro";
  src: url('assets/fonts/SourceSansPro/SOURCESANSPRO-LIGHT.TTF') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url('assets/fonts/SourceSansPro/SOURCESANSPRO-LIGHTITALIC.TTF') format('truetype');
  font-weight: 300;
  font-style: italic;
}

 /* Source Sans Pro Extralight */
 @font-face {
  font-family: "Source Sans Pro";
  src: url('assets/fonts/SourceSansPro/SOURCESANSPRO-EXTRALIGHT.TTF') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url('assets/fonts/SourceSansPro/SOURCESANSPRO-EXTRALIGHTITALIC.TTF') format('truetype');
  font-weight: 200;
  font-style: italic;
}



body::-webkit-scrollbar {
  display: none;
}

  canvas {
    z-index: 1;
    position: absolute;  
  }

  .flex_center{
  display: flex;
  justify-content: center;

  }
  .text_box {
    z-index: 2;
    position: absolute;
    width: 85ch;
    background-color: #dcf2e1;
    border-style: solid;
    border-radius: 15px;
    border-width: thin;
    border-color: #8CF3BE;
    padding: 45px;
    margin: 30px;
    line-height: 1.5rem;

  }
  h1{
    font-size: 1.5rem;
    font-family: "Source Sans Pro";
    font-weight: 700;
    margin-top: 4rem;
  }

  p {
    font-size: 1rem;
    font-family: "Source Sans Pro";
    font-weight: 400;
  }


  .popup {
    z-index: 2;
    visibility: hidden;
    position: fixed;
    border-radius: 15px;
    top: 7vh;
    padding: 4vh;
    height:calc(60vw * 9 / 16);
    width: 60vw;
    left: 18vw;
    display: flex;
    justify-content: center; /* centers child horizontally */
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.5);
  }

  iframe {
    position: relative;
    height: calc(60vw * 9 / 16);
    width: 60vw;
  
  }

  .material-icons {
    color: rgb(229, 109, 235);
    z-index: 3;
    top: -4vh;
    position: absolute;
    transform: scale(1.5); /* Scale on hover */
  }

  .material-icons:hover {
    cursor: pointer;
    transform: scale(2); /* Scale on hover */
  }
 

/* Loader */

lds-ellipsis {
  z-index: 5;
}

.lds-ellipsis {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #8CF3BE;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

